*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte-texto);
  font-weight: 400;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* bootstrap */
.btn--primary:focus,
.btn--primary:active,
.btn--primary:focus-visible,
.btn--primary:not(:disabled):active {
  background-color: var(--cor-principal-1) !important;
  color: var(--cor-branca) !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.btn:focus,
.btn:active,
.btn:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}