.new-item-card {
  background-color: var(--cor-branca);
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 40px 48px;
  max-width: 640px;
  margin: 40px auto;
  box-shadow: var(--sombra-suave);
}

.upload-box {
  border: 2px dashed #d9d9d9;
  border-radius: 6px;
  padding: 40px;
  background-color: #fafafa;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  width: 100%;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-box .upload-icon {
  width: 60px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.upload-box p {
  text-align: center;
  color: var(--cinza-600);
  font-size: 0.9rem;
  margin: 0;
}


#item-images {
  display: none;
}

#preview-container img {
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 90px;
  height: 90px;
  object-fit: cover;
}


.valor-input {
  text-align: left;
  padding-left: 12px;
  color: var(--cinza-700);
}

.valor-input::placeholder {
  color: #b7b7b7;
}

.valor-input:disabled {
  background-color: #f5f5f5;
  color: #9e9e9e;
  cursor: not-allowed;
}

.botao-primario-azul {
  background-color: var(--cor-azul);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  text-transform: uppercase;
  transition: 0.2s;
  display: inline-block;
}

.botao-primario-azul:hover {
  background-color: #00505f;
}

/* responsivo */
@media (max-width: 480px) {
  .new-item-card {
    padding: 28px;
  }

  .upload-box {
    padding: 40px 12px;
  }

  .upload-box .upload-icon {
    width: 60px;
  }
}