/* 1. base */
@import url('base/reset.css');
@import url('base/typography.css');
@import url('base/variables.css');

/* 2. componentes */
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/cards.css');
@import url('components/badges.css');
@import url('components/upload.css');

/* 3. layout */
@import url('layout/grid.css');
@import url('layout/navbar.css');
@import url('layout/sections.css');

/* 4. paginas */
@import url('pages/home.css');
@import url('pages/auth.css');
@import url('pages/items.css');
@import url('pages/new-item.css');
@import url('pages/profile.css');
@import url('pages/item-detail.css');

/* 5. utilidades */
@import url('utilities/utilities.css');