.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--cor-branca);
}

.badge--donation {
  background-color: var(--cor-azul);
}

.badge--sale {
  background-color: var(--cor-principal-1);
}