.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--fonte-texto);
  font-weight: 700;
  font-size: 1rem;

  padding: 10px 20px;
  border-radius: 4px;

  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;

  cursor: pointer;
  border: none;
  text-decoration: none;

  transition: background-color .2s ease;
}

/* botão primário */
.btn--primary {
  background-color: var(--cor-principal-1);
  color: var(--cor-branca);
}

.btn--primary:hover {
  background-color: var(--cor-principal-hover);
  color: var(--cor-branca);
}

/* responsivo */
@media (max-width: 768px) {
  .btn--primary {
    padding: 10px 20px;
    font-size: 0.85rem;
  }
}

/* botão azul/secundário (novo item) */
.btn--blue {
  background-color: var(--cor-azul);
  color: var(--cor-branca);
}

.btn--blue:hover {
  background-color: #021f30;
  color: var(--cor-branca);
}

/* botão do perfil */

.btn--profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--cor-principal-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ícone */
.btn--profile__icon {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
}

.btn--profile:hover {
  background-color: var(--cor-principal-hover) !important;
}

/* remove estados bregas feios chatos do bootstrap eww */
.btn--profile:focus,
.btn--profile:active,
.btn--profile.show,
.show>.btn--profile.dropdown-toggle,
.btn--profile:not(:disabled):active {
  background-color: var(--cor-principal-1) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* reponsivo */
@media (max-width: 768px) {
  .btn--profile {
    width: 36px;
    height: 36px;
  }

  .btn--profile__icon {
    width: 18px;
    height: 18px;
  }
}