.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fonte-texto);
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: background-color .2s ease, opacity .2s ease;

}

.btn--primary {
  background-color: var(--cor-principal-1);
  color: var(--cor-branca);
  border: none !important;
}

/* hover */
.btn--primary:hover {
  background-color: var(--cor-principal-hover);
  color: var(--cor-branca);
}

/* override do Bootstrap que quebrava largura */
button.btn--primary,
a.btn--primary {
  width: auto;
}

.btn-small-blue {
  background: var(--cor-azul);
  color: #fff;
  padding: 7px 14px;
  border-radius: 6px;
  font-size: 0.82rem;
  border: none;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}

.btn-small-blue:hover {
  background: #003958;
}

.btn-small-delete {
  background: var(--cor-azul);
  color: #fff;
  padding: 7px 14px;
  border-radius: 6px;
  font-size: 0.82rem;
  border: none;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}

.btn-small-delete:hover {
  background: #003958;
}


.btn--blue {
  background-color: var(--cor-azul);
  color: var(--cor-branca);
}

.btn--blue:hover {
  background-color: #021f30;
  color: var(--cor-branca);
}

/* botão do user */

.btn--profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--cor-principal-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--profile__icon {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
}

/* hover */
.btn--profile:hover {
  background-color: var(--cor-principal-hover) !important;
}

/* remove estado feio do bootstrap */
.btn--profile:focus,
.btn--profile:active,
.btn--profile.show,
.show>.btn--profile.dropdown-toggle,
.btn--profile:not(:disabled):active {
  background-color: var(--cor-principal-1) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* chat button */

.btn-start-chat {
  background: var(--cor-principal-1);
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: -12px;
  width: 100%;
  transition: 0.2s ease;
}

.btn-start-chat:hover {
  background: var(--cor-principal-hover);
}

/* responsivo */

@media (max-width: 768px) {
  .btn--primary {
    padding: 10px 20px;
    font-size: 0.85rem;
  }

  .btn--profile {
    width: 36px;
    height: 36px;
  }

  .btn--profile__icon {
    width: 18px;
    height: 18px;
  }

  .btn--primary {
    padding: 8px 12px;
    font-size: 0.8rem;
  }
}