.section {
  padding: var(--espacamento-secao) var(--margem-lateral);
}

.section--hero {
  background-color: var(--cor-fundo);
  border-bottom: 1px solid var(--cinza-300);
}

.section--white {
  background-color: var(--cor-branca);
}

.section--dark {
  background-color: var(--cor-texto);
  color: var(--cor-branca);
}

.section__container {
  max-width: var(--largura-maxima);
  margin: 0 auto;
}

.section__header {
  text-align: center;
  margin-bottom: var(--espacamento-secao);
}

/* footer */
footer.bg-primary {
  background-color: var(--cor-principal-1) !important;
  color: var(--cor-branca);
}

.footer {
  background-color: var(--cor-principal-1);
  color: var(--cor-branca);
  text-align: center;
  padding: var(--espaco-4) 0;
}